@font-face {
    font-family: 'Roboto';
    src: url('../../../assets/fonts/Roboto-Regular.ttf');
} 

#app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#asideInformationArea{  
    display: none;
    justify-content: space-between;
    flex-direction: column;

    background-color: #fff;
    width: 300px;
    height: 100vh;
}

#renderContainer{
    width: 100%; 
    height: 70vh;   
}

#informationArea{
    width: 100%;
    max-width: 600px;
    height: 30vh; 

    background-color: #fff;
    border-radius: 16px 16px 0px 0px;

    display: flex;
    flex-direction: row;
    margin: 0 auto; 
}

#informationArea img{
    flex: 1;
    object-fit: cover;
    width: 100%;
    height: 80px;
    align-self: flex-end;
}

#informationAreaText{ 
    flex: 2;
    padding: 30px 0px 30px 30px; 
    display: flex;
    flex-direction: column; 
} 

#informationAreaBiggerText{
    margin: 0px 0px 15px 0px;

    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 900;
}

#informationAreaSmallerText{
    font-size: 14px;
    font-family: 'Roboto';
    font: 400; 
}

#informationAreaSmallerText p{
    margin: 0px 0px 5px 0px;
}