@media (min-width: 500px) and (max-width: 1024px)  {
 
    #informationAreaText{ 
        padding: 40px 0px 40px 40px; 
    }

    #informationAreaBiggerText{  
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: 900;
    }
    
    #informationAreaSmallerText{
        font-size: 18px;
        font-family: 'Roboto';
        font: 400; 
    }

    #informationArea img{ 
        flex: 1;
        object-fit: cover;
        width: 100%;
        height: 200px;
        align-self: center;
        padding: 40px;  
    }
}