@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
} 
 
#App{
    width: 100%;
    height: 100vh; 
}

#renderContainer{
    width: 100%; 
    height: 70vh;   
}

#informationArea{
    width: 100%;
    height: 30vh; 

    background-color: #fff;
    border-radius: 20px 20px 0px 0px;

    display: flex;
    flex-direction: row;
    
    font-family: 'Roboto';
    font-weight: bold;
}

#informationArea img{
    flex: 1;   
    padding: 30px; 
}

#informationAreaText{ 
    flex: 1;
    padding: 30px 0px 30px 30px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#informationAreaText #informationAreaBiggerText{
    font-size: 16px;
}

#informationAreaText #informationAreaSmallerText{
    font-size: 14px;
}